{% extends 'base.html' %}

{% block content %}
Welcome, {{ user.phone_number }}!
{% if alert_flag %}
<script>alert("Transaction Completed!")</script>
{% endif %}
{% if min_balance %}
<script>alert("Transaction cannot be completed as balance will go below minimum limit!")</script>
{% endif %}
<br>
<div>
    <form action="modify" method="POST">
        {% csrf_token %}
        <label for="type">Choose a transaction type:</label>
        <select name="type" id=type>
            <option value="credit">Credit</option>
            <option value="debit">Debit</option>
        </select>
        <br>
        Enter Amount <input type="number" name="amount" min = 0.01 step = 0.01><br>
        <input type="submit">
    </form>
</div>
<br>
<hr>

<div>
    <form action='show_balance' method='GET'>
        <button type='submit'>Check Balance</button>
    </form>
</div>
<br>
<div>
    <form action='transaction_history' method='GET'>
        <button type='submit'>Check Transaction History</button>
    </form>
</div>

<p><a href="{% url 'logout' %}">Log Out</a></p>
{% endblock %}